# APP
APP_ENV=

# NEXT_PUBLIC_ variables are exposed to the browser and can be used in the frontend code
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=


# ANTHROPIC
ANTHROPIC_API_KEY=

# UPSTASH
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

